$navbar-default-bg: rgb(210, 40, 40);

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #FFFFFF;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('home_cover_image.jpg');
	background-size: cover;
	height: 600px;
}

.jumbotron h1 {
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: -2px;
	text-shadow: 1px 1px 3px rgb(255,255,255);
}

.btn-xlarge {
	font-size: 1.5em;
}

.article-actions {
	border-top: 1px solid #EAEAEA;
	padding-top: 5px;
}

.description {
	margin-top: 0px;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
}

.aarticle-body {
	border-top: 1px solid #EAEAEA;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer {
	padding-top: 5px;
	border-top: 1px solid rgb(220, 40, 40);
	margin-top: 15px;
}

footer small {
	float: left;
}

footer a {
	color: rgb(220, 40, 40);
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px; 
}